<html>
  <head>
    <meta charset="UTF-8" />
    <title>Commits</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <div id="chart_div"></div>
    <script>
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawMultSeries);

        function drawMultSeries() {
            function drawChart(temp) {
                var data = new google.visualization.DataTable();

                data.addColumn('string', 'Date');
                data.addColumn('number', 'Commits');

                temp.results.forEach(entry => {
                    var date = new Date(entry.Jour * 1000);
                    data.addRow([date.toLocaleDateString(), entry.temp]);
                });

                var options = {
                    title: 'Nombre de commits',
                    hAxis: {
                    title: 'Temps',
                    format: 'h:mm a',
                    viewWindow: {
                        min: [7, 30, 0],
                        max: [17, 30, 0]
                    }
                    },
                    vAxis: {
                    title: 'Rating (scale of 1-10)'
                    }
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }

            fetch('/extract-minutes/2024-03-26T10:10:10Z')
            .then(response => response.json())
            .then(temp => {
                console.log(temp)
                drawChart(temp);
            })
        }
    </script>
  </body>
</html>