<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Commits</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart(api_commits_date) {
        var data = google.visualization.arrayToDataTable();

        var options = {
          title: 'Nombre de commits',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

        fetch('/github/')
        .then(response => response.json())
        .then(api_commits_date => {
            console.log(api_commits_date)
            drawChart(api_commits_date);
        })
    </script>
  </head>
  <body>
    <div id="chart_div"></div>
  </body>
</html>